nav{
  width: 100px;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 90px;
}

ul{
  display: flex;
  flex-direction: column
}

li{
  text-decoration: none;
  list-style: none;
  margin-bottom: 50px;
}

li{
  cursor: pointer;
  list-style: none;
}
.svg{
  fill: gray;
  width: 30px;
  height: auto;
}

.active{
  fill: var(--bg-primary);
}

