<section>

  <div class="alert-card div-container">
    <div class="info-alert">
      <span class="alert-type">Lecturas OK</span>
      <span class="alert-number">1234</span>
    </div>

    <div class="icon-alert check">
      <img src="icons/check.svg" alt="check">
    </div>
  </div>


  <div class="alert-card div-container">
    <div class="info-alert">
      <span class="alert-type">Alertas Medias</span>
      <span class="alert-number">1234</span>
    </div>

    <div class="icon-alert alert">
      <img src="icons/alert.svg" alt="check">
    </div>
  </div>

  <div class="alert-card div-container">
    <div class="info-alert">
      <span class="alert-type">Alertas Rojas</span>
      <span class="alert-number">1234</span>
    </div>

    <div class="icon-alert warning">
      <img src="icons/warning.svg" alt="check">
    </div>
  </div>

  <div class="alert-card div-container">
    <div class="info-alert">
      <span class="alert-type">Sensores Deshabilitados</span>
      <span class="alert-number">1234</span>
    </div>

    <div class="icon-alert error">
      <img src="icons/close.svg" alt="check">
    </div>
  </div>


</section>


