<div class="layout">
  <section>
    <header>
      <h2>Portal de Monitoreo</h2>
      <div class="subtitle">
        <h3>Iniciar Sesión</h3>
        <a href="">¿No tienes cuenta?</a>
      </div>
    </header>

    <form>
      <div class="input-group-container">
        <div class="input-container">
          <input type="text" autocomplete="off" class="input">
          <label class="label">Email</label>
        </div>
        <span class="text-error">Email no valido</span>

      </div>

      <div class="input-group-container">
        <div class="input-container">
          <input type="password" autocomplete="off" class="input">
          <label class="label">Password</label>
          <img class="visibility icon-password" src="icons/on.svg" alt="visibility">
          <!-- <img src="icons/off.svg" alt="visibility-off"> -->
        </div>
        <span class="text-error">Contraseña no valida</span>
      </div>

      <div class="buttons">

        <a href="">¿Olvidaste tu contraseña?</a>
        <button>Iniciar sesión</button>

      </div>
    </form>


    <footer>
      <p>Protegido por reCAPTCHA y sujeto a la <a class="footer-a" href="">Politica de Privacidad</a> y <a href="" class="footer-a">Condiciones</a>.</p>
    </footer>
  </section>

</div>








