section{
  padding: 20px;
  background-color: white;
}

.table{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

.header{
  background-color: white;
  font-size: 18px;
  font-weight: 700;
  color: #aacfc5;
}

.body-container{
  display: flex;
  flex-direction: column;
  background-color: var(--bg-secondary);
}

.row{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 5px 10px 0 5px;
}


.body{
  background-color: white;
  color: black;
  font-weight: 600;
}

.cell{
  flex: 1;
  padding: 10px;
}

.acciones{
  position: relative;
}

