<section>
 <div class="table">

  <div class="row header">

    <div class="cell">{{'global.table.country' | translate}}</div>
    <div class="cell">{{'global.table.name_plant' | translate}} </div>
    <div class="cell">{{'global.table.readings' | translate}} </div>
    <div class="cell">{{'global.table.yellows' | translate}} </div>
    <div class="cell">{{'global.table.reds' | translate}} </div>
    <div class="cell">{{'global.table.action' | translate}} </div>

  </div>

  <div class="body-container div-container">

    <div class="row body">
      <div class="cell">Argentina</div>
      <div class="cell">Quilmes</div>
      <div class="cell">300</div>
      <div class="cell">10</div>
      <div class="cell">2</div>
      <div class="cell acciones">
        <accion-option></accion-option>
      </div>
    </div>

    <div class="row body">
      <div class="cell">Argentina</div>
      <div class="cell">Quilmes</div>
      <div class="cell">300</div>
      <div class="cell">10</div>
      <div class="cell">2</div>
      <div class="cell acciones">
        <accion-option></accion-option>
      </div>
    </div>


    <div class="row body">
      <div class="cell">Argentina</div>
      <div class="cell">Quilmes</div>
      <div class="cell">300</div>
      <div class="cell">10</div>
      <div class="cell">2</div>
      <div class="cell acciones">
        <accion-option></accion-option>
      </div>
    </div>


    <div class="row body">
      <div class="cell">Argentina</div>
      <div class="cell">Quilmes</div>
      <div class="cell">300</div>
      <div class="cell">10</div>
      <div class="cell">2</div>
      <div class="cell acciones">
        <accion-option></accion-option>
      </div>
    </div>


    <div class="row body">
      <div class="cell">Argentina</div>
      <div class="cell">Quilmes</div>
      <div class="cell">300</div>
      <div class="cell">10</div>
      <div class="cell">2</div>
      <div class="cell acciones">
        <accion-option></accion-option>
      </div>
    </div>


    <div class="row body">
      <div class="cell">Argentina</div>
      <div class="cell">Quilmes</div>
      <div class="cell">300</div>
      <div class="cell">10</div>
      <div class="cell">2</div>
      <div class="cell acciones">
        <accion-option></accion-option>
      </div>
    </div>


    <div class="row body">
      <div class="cell">Argentina</div>
      <div class="cell">Quilmes</div>
      <div class="cell">300</div>
      <div class="cell">10</div>
      <div class="cell">2</div>
      <div class="cell acciones">
        <accion-option></accion-option>
      </div>
    </div>


    <div class="row body">
      <div class="cell">Argentina</div>
      <div class="cell">Quilmes</div>
      <div class="cell">300</div>
      <div class="cell">10</div>
      <div class="cell">2</div>
      <div class="cell acciones">
        <accion-option></accion-option>
      </div>
    </div>


    <div class="row body">
      <div class="cell">Argentina</div>
      <div class="cell">Quilmes</div>
      <div class="cell">300</div>
      <div class="cell">10</div>
      <div class="cell">2</div>
      <div class="cell acciones">
        <accion-option></accion-option>
      </div>
    </div>


    <div class="row body">
      <div class="cell">Argentina</div>
      <div class="cell">Quilmes</div>
      <div class="cell">300</div>
      <div class="cell">10</div>
      <div class="cell">2</div>
      <div class="cell acciones">
        <accion-option></accion-option>
      </div>
    </div>


    <div class="row body">
      <div class="cell">Argentina</div>
      <div class="cell">Quilmes</div>
      <div class="cell">300</div>
      <div class="cell">10</div>
      <div class="cell">2</div>
      <div class="cell acciones">
        <accion-option></accion-option>
      </div>
    </div>


    <div class="row body">
      <div class="cell">Argentina</div>
      <div class="cell">Quilmes</div>
      <div class="cell">300</div>
      <div class="cell">10</div>
      <div class="cell">2</div>
      <div class="cell acciones">
        <accion-option></accion-option>
      </div>
    </div>


    <div class="row body">
      <div class="cell">Argentina</div>
      <div class="cell">Quilmes</div>
      <div class="cell">300</div>
      <div class="cell">10</div>
      <div class="cell">2</div>
      <div class="cell acciones">
        <accion-option></accion-option>
      </div>
    </div>


    <div class="row body">
      <div class="cell">Argentina</div>
      <div class="cell">Quilmes</div>
      <div class="cell">300</div>
      <div class="cell">10</div>
      <div class="cell">2</div>
      <div class="cell acciones">
        <accion-option></accion-option>
      </div>
    </div>



  </div>


 </div>
</section>












