<div class="layout">
  <section>
    <div class="container">
      <h1>Iniciar Sesión</h1>
      <p>
        Nos alegra tenerte de vuelta y estamos listos para atender tus
        necesidades. Inicia sesión o registrate para continuar aprovechando al
        máximo nuestra plataforma.
      </p>
      <div class="info-container">

        <div class="info">
          <img class="icon-img" src="icons/bold.svg" alt="bold">
          <div class="info-datos">
            <h4>Monitoreo integral</h4>
            <p>Administra, monitorea multiples plantas de fabricación</p>
          </div>
        </div>


        <div class="info">
          <img class="icon-img" src="icons/stars.svg" alt="stars">
          <div class="info-datos">
            <h4>Notificacion en tiempo real</h4>
            <p>Recibi notificaciones en tiempo real sobre las mediciones</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <router-outlet></router-outlet>
</div>
