/* You can add global styles to this file, and also import other style files */

:root{
  --bg-primary:#05979c;
  --bg-primary-hover:#0c5e63;
  --bg-secondary:#effefc;
  --bg-secondary-div:#fdffff;
  --text-color-primary:#f5f5f5;
  --text-color-secondary:#181b1b;
  --text-color-label-primary:#80908d;
  --text-color-a-primary:#05979c;
  --text-color-error-primary:#a20698;
}


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Assistant", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h4,h1,h2,h3{
  margin: 0;
  padding: 0;
}

p{
  margin: 0;
  padding: 0;
}

h1,h4,p{
  color: var(--text-color-primary);
}

h1{
  font-size: 56px;
}
h2{
  font-size: 36px;
}

h3{
  font-size: 26px;
}

h4{
  font-size: 20px;
}
p{
  font-weight: 500;
}
li{
  list-style: none;
}

.div-container{
/* -webkit-box-shadow: 0px 0px 15px -7px rgba(5, 5, 6, 1);
-moz-box-shadow: 0px 0px 15px -7px rgba(5, 5, 6, 1);
box-shadow: 0px 0px 15px -7px rgba(5, 5, 6, 1); */
border-radius: 15px;
}
