
nav{
  display: flex;
  align-items: center;
  gap:50px;
  justify-content: center;
}
ul{
  display: flex;
  align-items: center;
  padding-top: 7px;
  gap: 50px;
}

p{
  color: var(--text-color-secondary);
  font-size: 25px;
}
