
nav{
  display:flex;
  align-items: center;
  gap:50px;
  justify-content: center;
  width: 100%;
}
ul{
  display: flex;
  align-items: center;
  padding-top: 7px;
  gap: 50px;
}

li{
  cursor: pointer;
}

p{
  color: var(--text-color-secondary);
  font-size: 25px;
}

.language{
  position: relative;
}


/* ANIMACIONES */

.rotate:hover{
  animation: rotate 1s ;
}

.setting:hover{
  animation: rotate 1s;
}
.notification:hover{
  animation: notification 1s;
}
